:root {
  --color: #343434;
  --background-color: #fefefe;
  --cyan: #06b6d4;
  --radius: 5px;
}

body {
  background-color: var(--background-color);
  color: var(--color);
}

.btn {
  color: var(--color);
  border-radius: var(--radius);
  background-color: var(--cyan);
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
}

.btn:hover,
.btn:focus {
  outline: 1px solid var(--color);
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .btn {
  background-color: transparent;
}

header a {
  color: var(--color);
  text-decoration: none;
}

/* Dashboard */
.banner {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.banner .btn {
  background-color: transparent;
  /* outline: 1px solid var(--color); */
}

/* All Notes */
.notes-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.note {
  padding: 1rem;
  box-shadow: 0px 0px 1px var(--color);
}

.note-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-icon {
  color: red;
  cursor: pointer;
}

footer {
  margin: 1rem 0;
}

/* Create Note page */
label,
input,
textarea {
  display: block;
}

input,
textarea,
select {
  padding: 8px;
  margin-bottom: 1rem;
}

.saveBtn {
  background-color: transparent;
  border: 1px solid var(--color);
}

@media screen and (max-width: 480px) {
  header h1 {
    font-size: 24px;
  }
}
